* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {

    border: solid black 3px;
    border-radius: 5px;
}

/* Game Title */
h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Controls and paragraph elements */
p {
    font-size: 30px;
}

h3 {
    font-size: 40px;
    text-align: center;
}

/* Styles for the Main Page */
#start {
    margin: 100px auto 0 auto;
    max-width: 700px;
    text-align: center;
}

/* Styles for the Questions and Answers */
#question-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30%;
}

button:hover {
    background-color: darkcyan;
}

/* Styles the highscores link*/
.highScores {
    position: absolute;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    top: 10px;
    left: 10px;
}

/* styles the Timer */
.timer {
    position: absolute;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 10px;
    top: 10px;
    right: 10px;
}

/* Styles buttons throughout the game-may need to change this into two different kinds of buttons? */
button {

    margin: 5px;
    font-size: 25px;
    color: white;
    background-color: darkslateblue;
    border-radius: 10px;
    padding: 5px 10px;

}